<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>日志查看</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<base href="/satellite/"/>
        <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>  
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all"/> 
		<link th:href="@{css/hover.css}" rel="stylesheet" type="text/css" media="all"/> 
		<script th:src="@{js/jquery-2.1.1.min.js}" type="text/javascript"></script>
    </head>
    <body>
        <div class="header-main">
			<div class="header-left">
				<div class="logo-name">
					<a href="db/"> <h1>添加数据库</h1> 
					</a> 								
                </div>
			</div>
			<div class="header-right">
				<div class="profile_details_left">
					<select id="target_db" name="dataSources" style="height: 2em;" th:field="*{dataSources}" th:value="*{dataSources}" class="search-box">
						<option value="">请选择目标数据库</option>
						<option th:each="dataSource,userStat:${dataSources}" th:value="${dataSource}" th:text="${dataSource}"></option>
					</select>
					<select id="select_table" name="epgTableNames" th:field="*{epgTableNames}" th:value="*{epgTableNames}" class="search-box" style="height: 2em;">
						<option value="">请选择表</option>
						<option th:each="epgTableName,userStat:${epgTableNames}" th:value="${epgTableName}" th:text="${epgTableName}"></option>
					</select>
					<input type="button" class="hvr-push" value="搜索" onclick="findLogsByTableName(0)"/>
				</div>
				<input type="button" class="hvr-push" value="任务重置" onclick="resetTask()"/>
				<div class="profile_details">
					定时任务时间：<input th:value="${timingTime}" id="timingTime" type="time" style="margin-right: 2em; height:2em; border:2px solid rgb(197, 197, 197)"/>
					间隔任务时间：
					<select th:value="${intervalTime}" id="intervalTime" name="intervalTime" style="margin-right: 0.5em; height:2em; border:2px solid rgb(197, 197, 197)">
						<option value="choose_hour">选择时间</option>
						<option th:selected="${intervalTime == '1'}" value="1">1</option>
						<option th:selected="${intervalTime == '2'}" value="2">2</option>
						<option th:selected="${intervalTime == '3'}" value="3">3</option>
						<option th:selected="${intervalTime == '4'}" value="4">4</option>
						<option th:selected="${intervalTime == '5'}" value="5">5</option>
						<option th:selected="${intervalTime == '6'}" value="6">6</option>
						<option th:selected="${intervalTime == '7'}" value="7">7</option>
						<option th:selected="${intervalTime == '8'}" value="8">8</option>
						<option th:selected="${intervalTime == '9'}" value="9">9</option>
						<option th:selected="${intervalTime == '10'}" value="10">10</option>
						<option th:selected="${intervalTime == '11'}" value="11">11</option>
						<option th:selected="${intervalTime == '12'}" value="12">12</option>
						<option th:selected="${intervalTime == '13'}" value="13">13</option>
						<option th:selected="${intervalTime == '14'}" value="14">14</option>
						<option th:selected="${intervalTime == '15'}" value="15">15</option>
						<option th:selected="${intervalTime == '16'}" value="16">16</option>
						<option th:selected="${intervalTime == '17'}" value="17">17</option>
						<option th:selected="${intervalTime == '18'}" value="18">18</option>
						<option th:selected="${intervalTime == '19'}" value="19">19</option>
						<option th:selected="${intervalTime == '20'}" value="20">20</option>
						<option th:selected="${intervalTime == '21'}" value="21">21</option>
						<option th:selected="${intervalTime == '22'}" value="22">22</option>
						<option th:selected="${intervalTime == '23'}" value="23">23</option>
						<option th:selected="${intervalTime == '24'}" value="24">24</option>
					</select>小时
					<input type="button" style="margin-left: 2em" value="修改" onclick="setCron()"/>
				</div>
				<div class="clearfix"> </div>				
			</div>
			<div class="clearfix"> </div>	
		</div>   
        <div class="chit-chat-layer1">
            <div class="col-md-6 chit-chat-layer1-left">
                <div class="work-progres">
                    <div class="chit-chat-heading">
                        插入日志表
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>表名</th>
                                    <th>插入数</th>                                   
                                    <th>删除数</th>                                       
                                    <th>目标数据库</th>
									<th>操作时间</th>
									<th>操作时长</th>
                                </tr>
                            </thead>
                            <tbody id="logList">
                                <tr th:each="log : ${logList}">
                                    <td th:text="${log.id}">1</td>
                                    <td th:text="${log.tableName}">Face book</td>
                                    <td th:text="${log.insertCount}">Malorum</td>                                                             
                                    <td th:text="${log.deleteCount}">deleteCount</td>
									<td th:text="${log.targetDataBase}"><span class="label label-danger">targetDataBase</span></td>
									<td th:text="${log.operateTime}">operateTime</td>
									<td th:text="${log.duration} + '秒'"><span class="badge badge-info">duration</span></td>
                                </tr>
                            </tbody>
                        </table>
					</div>
					<div class="page">
						<input id="firstPage" onclick="findLogsByTableName('first')" type="button" value="首页"/>
						<input id="lastPage" onclick="findLogsByTableName('last')" type="button" value="上一页"/>
						<input id="pageNum" type="text" style="padding: 0em, 1em; width: 5em" value="1"/>
						<input id="nextPage" type="button" value="下一页" onclick="findLogsByTableName('next')"/>
						<input id="finalPage" type="button" value="尾页" onclick="findLogsByTableName('final')"/>
						总页数：<span id="pageCount" th:text="${pageCount}" />
					</div>
                </div>
            </div>
		</div>
	</body>
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		var currentPage = 1;
		$(document).ready(function onload() {
			$('#pageNum').on('keypress', function (event) {
				if (event.keyCode == 13) {
					findLogsByTableName($('#pageNum').val() - 1);
				}
			})
			var html = '';
			var pageCount = '[[${pageCount}]]';
			for (let index = 0; index < pageCount; index++) {
				const pageNum = index;
				html += '<input id="' + pageNum + '" type="button" value="' + (pageNum + 1) + '" style="width: 2em; margin-left: 2px; margin-right: 2px" onclick="findLogsByTableName(' + pageNum + ')">';
			}
			if (html.length > 0) {
				$('#pageNum').html(html);
			}
		})

		function resetTask() {
			$.ajax({
				url:'resetTask',
				async:true,
				dataType:'json',
				type:'post',
				success:function (data) {
					alert(data.message);
					location.reload();
				},
				error:function (data) {
					alert(data.message);
				}
			})
		}

		function setCron() {
			var timingTime = $('#timingTime').val();
			var intervalTime = $('#intervalTime').val();
			$.ajax({
				url:'setCron',
				async:true,
				data:{timingTime:timingTime, intervalTime:intervalTime},
				dataType:'json',
				type:'post',
				success:function (data) {
					alert(data.message);
				},
				error:function(data) {
					alert(data.message);
				}
			})
		}

		function findLogsByTableName(page) {
				var objPageNum = document.getElementById('pageNum');
				var objSelectTable = document.getElementById('select_table');
				var objSelectDb = document.getElementById('target_db');
				var pageCount = document.getElementById('pageCount').innerHTML;
				var tableName;
				var targetDataBase;
				var pageNum;
				if (page == 'first') {
					pageNum = 0;
				} else if (page == 'last') {
					pageNum = currentPage - 2;
				} else if (page == 'next') {
					pageNum = currentPage;
				} else if (page == 'final') {
					pageNum = pageCount - 1;
				}
				if (isNaN(pageNum)) {
					pageNum = page;
				} else if (pageNum == undefined || pageNum == '') {
					pageNum = 0;
				}
				currentPage = parseInt(pageNum) + 1;
				if (objSelectTable.selectedIndex == 0) {
					tableName = null;
				} else {
					tableName = objSelectTable.options[objSelectTable.selectedIndex].value;
				}
				if (objSelectDb.selectedIndex == 0) {
					targetDataBase = null;
				} else {
					targetDataBase = objSelectDb.options[objSelectDb.selectedIndex].value;
				}
				$.ajax({
					url:'findLogs',
					async:true,
					type:'get',
					dataType:'json',
					data:{tableName:tableName, targetDb:targetDataBase, pageNum:pageNum * 20},
					success:function(data) {
						var html = '';
						var logList = data['result']['logList'];
						for (let i = 0; i < logList.length; i++) {
							html += '<tr>';
							const dataObj = logList[i];
							html += '<td>' + dataObj.id + '</td>';
							html += '<td>' + dataObj.tableName + '</td>';
							html += '<td>' + dataObj.insertCount + '</td>';
							html += '<td>' + dataObj.deleteCount + '</td>';
							html += '<td>' + dataObj.targetDataBase + '</td>';
							html += '<td>' + dataObj.operateTime + '</td>';
							html += '<td>' + dataObj.duration + '秒</td>';
							html += '</tr>';
						}
						if (html.length > 0 && pageNum >= 0) {
							$('#logList').html(html);
							pageCount = data['result']['pageCount'];
							html = pageCount + '';
							$('#pageCount').html(html);
							objPageNum.value = currentPage;
						} else {
							alert('没有数据了');
						}
					},
					error:function() {
						alert('获取失败');
					}
				});
			}
		/*]]>*/
	</script>
</html>